<a routerLink="./novo" >
  <span class="material-icons md-24" matTooltip="Novo">create_new_folder</span>
</a>
<table mat-table [dataSource]="sistemas" class="mat-elevation-z8">

<!-- Ded Column -->
<ng-container matColumnDef="nome">
  <th mat-header-cell *matHeaderCellDef> Nome </th>
  <td mat-cell *matCellDef="let sistema"> {{sistema.nome}} </td>
</ng-container>

<!-- Desc Column -->
<ng-container matColumnDef="acao">
  <th mat-header-cell *matHeaderCellDef> Ação </th>
  <td mat-cell *matCellDef="let sistema">
    <a routerLink="./editar/{{sistema.id}}" >
      <span class="material-icons md-24" matTooltip="Ver">folder_open</span>
  </a>
    <a (click)="apagar(sistema.id)" routerLink="." >
      <span class="material-icons md-24" matTooltip="Apagar">delete</span>
    </a>
  </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

