<mat-card style="min-width: 800px">
  <mat-card-title fxLayoutAlign="space-between center">
    <span>Arquivos Referenciados</span>
    <app-new-button *ngIf="!somenteLeitura" (newEmitter)="novoEditar()" complemento="Contagem">
    </app-new-button>
  </mat-card-title>
  <mat-card-content>
    <mat-card class="card-tabela">
      <vmf-data-table
        [totalRegistros]="1"
        [value]="contagem.arquivosReferenciados"
        listrado="true"
        mensagemVazio="Nenhum registro encontrado"
        nameTabela="Arquivos Referenciados"
        [exibePaginador]="false"
      >
        <vmf-data-column header="Nome" value="nome" [ordenar]="false">
          <ng-template let-arquivoReferenciado="rowData" #body>
            {{ arquivoReferenciado.nome }}
          </ng-template>
        </vmf-data-column>

        <vmf-data-column header="Função" value="funcao" [ordenar]="false">
          <ng-template let-arquivoReferenciado="rowData" #body>
            {{ arquivoReferenciado.funcao }}
          </ng-template>
        </vmf-data-column>

        <vmf-data-column header="TD" value="td" [ordenar]="false">
          <ng-template let-arquivoReferenciado="rowData" #body>
            {{ arquivoReferenciado.td }}
          </ng-template>
        </vmf-data-column>

        <vmf-data-column header="TR" value="tr" [ordenar]="false">
          <ng-template let-arquivoReferenciado="rowData" #body>
            {{ arquivoReferenciado.tr }}
          </ng-template>
        </vmf-data-column>

        <vmf-data-column
          header="Complexidade"
          value="complexidade"
          [ordenar]="false"
        >
          <ng-template let-arquivoReferenciado="rowData" #body>
            {{ arquivoReferenciado.complexidade }}
          </ng-template>
        </vmf-data-column>

        <vmf-data-column header="PF" value="pf" [ordenar]="false">
          <ng-template let-arquivoReferenciado="rowData" #body>
            {{ arquivoReferenciado.pf }}
          </ng-template>
        </vmf-data-column>

        <vmf-data-column header="" [ordenar]="false">
          <ng-template let-arquivoReferenciado="rowData" #body>
            <app-edit-button *ngIf="!somenteLeitura" (editEmitter)="novoEditar($event)" complemento="Arquivo Referenciado" [objeto]="arquivoReferenciado">
            </app-edit-button>

            <app-view-button *ngIf="somenteLeitura" (viewEmitter)="visualizar($event)" complemento="Arquivo Referenciado" [objeto]="arquivoReferenciado">
            </app-view-button>

            <app-delete-button *ngIf="!somenteLeitura" (deleteEmitter)="apagar($event)" complemento="Arquivo Referenciado" [id]="arquivoReferenciado.id">
            </app-delete-button>
          </ng-template>
        </vmf-data-column>
      </vmf-data-table>
    </mat-card>
  </mat-card-content>
</mat-card>
