<mat-card>
  <mat-card-header>
    <h1 class="mat-title">Manutenção de transação</h1>
  </mat-card-header>
</mat-card>
<mat-card>
  <mat-card-content>
    <mat-form-field class="example-full-width">
      <mat-label>Nome</mat-label>
      <input
        matInput
        placeholder="Nome"
        name="nome"
        [(ngModel)]="transacao.nome"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Tipo</mat-label>
      <mat-select name="subtipo" [(ngModel)]="transacao.subtipo">
        <mat-option *ngFor="let subtipo of subtipos" [value]="subtipo">{{
          subtipo
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Grupo</mat-label>
      <mat-select name="grupo" [(ngModel)]="transacao.grupo.id">
        <mat-option *ngFor="let grupo of grupos" [value]="grupo.id">{{
          grupo.nome
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <h1 class="mat-title">Mensagens de Tela</h1>
  </mat-card-header>
  <mat-card-content>
    <mat-selection-list
      #list
      [(ngModel)]="selectedMsgsTela"
      name="selectedsMsgs"
      (ngModelChange)="checkMsgTelaValue($event)"
    >
      <mat-list-option *ngFor="let msg of msgsTela" [value]="msg">
        {{ msg.nome }}
      </mat-list-option>
    </mat-selection-list>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-header>
    <h1 class="mat-title">Arquivos referenciados</h1>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group
      [(selectedIndex)]="selectedARIndex"
      (selectedTabChange)="onTabARChanged($event)"
    >
      <mat-tab *ngFor="let arquivoReferenciado of arquivosReferenciados">
        <ng-template mat-tab-label>
          <mat-checkbox
            [(ngModel)]="arquivoReferenciado.isCheckSelected"
            (change)="checkFuncaoDadosValue(arquivoReferenciado)"
          >
          </mat-checkbox>
          {{ arquivoReferenciado.nome }}
        </ng-template>
        <mat-divider></mat-divider>
        <mat-card-header>
          <h1 class="mat-title">Tabelas</h1>
        </mat-card-header>
        <mat-tab-group [(selectedIndex)]="selectedTRIndex">
          <mat-tab *ngFor="let tabela of arquivoReferenciado.tabelas">
            <ng-template mat-tab-label>
              <mat-checkbox
                [(ngModel)]="tabela.isCheckSelected"
                (change)="checkTabelasValue(tabela)"
              >
              </mat-checkbox>
              {{ tabela.nome }}
            </ng-template>
            <mat-divider></mat-divider>
            <h4>Colunas</h4>
            <mat-checkbox
              [(ngModel)]="col.isCheckSelected"
              *ngFor="let col of tabela.colunas"
              (change)="checkColunasValue(col)"
            >
              {{ col.nome }}
            </mat-checkbox>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>

  <mat-card-actions mat-dialog-actions align="center">
    <button mat-button mat-flat-button color="primary" (click)="salvar()" mat-dialog-close>
      Salvar
    </button>
    <button mat-button mat-dialog-close >Cancelar</button>
  </mat-card-actions>
</mat-card>
