<mat-card>
  <mat-card-header>
    <h1 class="mat-title">Manutenção de transação</h1>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="example-full-width">
      <mat-label>Nome</mat-label>
      <input
        matInput
        placeholder="Nome"
        name="nome"
        [(ngModel)]="contagemItem.nome"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Tipo</mat-label>
      <mat-select name="subtipo" [(ngModel)]="contagemItem.subtipo">
        <mat-option *ngFor="let subtipo of subtipos" [value]="subtipo">{{
          subtipo
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Grupo</mat-label>
      <mat-select name="grupo" [(ngModel)]="contagemItem.grupo.id">
        <mat-option *ngFor="let grupo of grupos" [value]="grupo.id">{{
          grupo.nome
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Mensagens de Tela </mat-panel-title>
        <mat-panel-description> Sumary </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-selection-list [(ngModel)]="selectedMsgsTela" #list name="selectedsMsgs">
        <mat-list-option *ngFor="let msg of msgsTela" (change)="teste()" [value]="msg">
          {{ msg.nome }}
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> Arquivos referenciados </mat-panel-title>
        <mat-panel-description> Sumary </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-tab-group [(selectedIndex)]="selectedARIndex">
        <mat-tab *ngFor="let arquivoReferenciado of arquivosReferenciados">
          <ng-template mat-tab-label>
            <mat-checkbox (change)="checkFuncaoDadosValue(arquivoReferenciado)"
              [(ngModel)]="arquivoReferenciado.isChecked"
            >
            </mat-checkbox>
            {{ arquivoReferenciado.nome }}
          </ng-template>
          <mat-divider></mat-divider>
          <mat-card-header>
            <h1 class="mat-title">Tabelas</h1>
          </mat-card-header>
          <mat-tab-group [(selectedIndex)]="selectedTRIndex">
            <mat-tab *ngFor="let tabela of arquivoReferenciado.tabelas">
              <ng-template mat-tab-label>
                <mat-checkbox (change)="checkTabelasValue(tabela)"
                  [(ngModel)]="tabela.isChecked"
                >
                </mat-checkbox>
                {{ tabela.nome }}
              </ng-template>
              <mat-divider></mat-divider>
              <h4>Colunas</h4>
              <mat-checkbox (change)="atualizaCheckBoxInterface()"
                [(ngModel)]="col.isChecked"
                *ngFor="let col of tabela.colunas"
              >
                {{ col.nome }}
              </mat-checkbox>
            </mat-tab>
          </mat-tab-group>
        </mat-tab>
      </mat-tab-group>
    </mat-expansion-panel>
  </mat-card-content>

  <mat-card-actions mat-dialog-actions align="center">
    <button
      mat-button
      mat-flat-button
      color="primary"
      (click)="salvar()"
    >
      Salvar
    </button>
    <button mat-button mat-dialog-close>Cancelar</button>
  </mat-card-actions>
</mat-card>
