<mat-card>
  <mat-card-title fxLayoutAlign="space-between center">
    <span>Transações</span>
    <div>
      <mat-icon
        *ngIf="!somenteLeitura"
        style="cursor: pointer; color: blueviolet"
        (click)="gerenciadorGrupo()"
        matTooltip="Gerenciador de grupos"
        matSuffix
        class="material-icons md-24"
        >group_work</mat-icon
      >
      <app-new-button
        *ngIf="!somenteLeitura"
        (newEmitter)="novoEditar()"
        complemento="Contagem"
      >
      </app-new-button>
    </div>
  </mat-card-title>

  <mat-card class="card-tabela" style="min-width: 800px">
      <vmf-data-table
        [totalRegistros]="1"
        [value]="contagem.transacoes"
        listrado="true"
        mensagemVazio="Nenhum registro encontrado"
        nameTabela="Transações"
        [exibePaginador]="false"
        [trClass]="getTrClass.bind(this)"
      >
        <vmf-data-column header="Grupo" value="grupo" [ordenar]="false">
          <ng-template let-transacao="rowData" #body>
            <div fxLayout="column">
              <span [ngClass]="{'orange': transacao.alteradoGrupo?.nome}">{{ transacao.grupo?.nome }}</span>
              <mat-hint *ngIf="transacao.alteradoGrupo?.nome">{{ transacao.alteradoGrupo?.nome }}</mat-hint>
            </div>
          </ng-template>
        </vmf-data-column>

        <vmf-data-column header="Nome" value="nome" [ordenar]="false">
          <ng-template let-transacao="rowData" #body>
            <div fxLayout="column">
              <span [ngClass]="{'orange': transacao.alteradoNome}">{{ transacao.nome }}</span>
              <mat-hint *ngIf="transacao.alteradoNome">{{ transacao.alteradoNome }}</mat-hint>
            </div>
          </ng-template>
        </vmf-data-column>

        <vmf-data-column header="Função" value="funcao" [ordenar]="false">
          <ng-template let-transacao="rowData" #body>
            <div fxLayout="column">
              <span [ngClass]="{'orange': transacao.alteradoFuncao}">{{ transacao.funcao }}</span>
              <mat-hint *ngIf="transacao.alteradoFuncao">{{ transacao.alteradoFuncao }}</mat-hint>
            </div>
          </ng-template>
        </vmf-data-column>

        <vmf-data-column header="TD" value="td" [ordenar]="false">
          <ng-template let-transacao="rowData" #body>
            <div fxLayout="column">
              <span [ngClass]="{'orange': transacao.alteradoTd != undefined}">{{ transacao.td }}</span>
              <mat-hint *ngIf="transacao.alteradoTd != undefined">{{ transacao.alteradoTd }}</mat-hint>
            </div>
          </ng-template>
        </vmf-data-column>

        <vmf-data-column header="TR" value="tr" [ordenar]="false">
          <ng-template let-transacao="rowData" #body>
            <div fxLayout="column">
              <span [ngClass]="{'orange': transacao.alteradoTr != undefined}">{{ transacao.tr }}</span>
              <mat-hint *ngIf="transacao.alteradoTr != undefined">{{ transacao.alteradoTr }}</mat-hint>
            </div>
          </ng-template>
        </vmf-data-column>

        <vmf-data-column
          header="Complexidade"
          value="complexidade"
          [ordenar]="false"
        >
          <ng-template let-transacao="rowData" #body>
            <div fxLayout="column">
              <span [ngClass]="{'orange': transacao.alteradoComplexidade}">{{ transacao.complexidade }}</span>
              <mat-hint *ngIf="transacao.alteradoComplexidade">{{ transacao.alteradoComplexidade }}</mat-hint>
            </div>
          </ng-template>
        </vmf-data-column>

        <vmf-data-column header="PF" value="pf" [ordenar]="false">
          <ng-template let-transacao="rowData" #body>
            <div fxLayout="column">
              <span [ngClass]="{'orange': transacao.alteradoPf != undefined}">{{ transacao.pf }}</span>
              <mat-hint *ngIf="transacao.alteradoPf != undefined">{{ transacao.alteradoPf }}</mat-hint>
            </div>
          </ng-template>
        </vmf-data-column>

        <vmf-data-column header="" [ordenar]="false">
          <ng-template let-transacao="rowData" #body>
            <app-edit-button
              *ngIf="!somenteLeitura"
              [somenteLeitura]="somenteLeitura"
              (editEmitter)="novoEditar($event)"
              complemento="Transação"
              [objeto]="transacao"
            >
            </app-edit-button>

            <app-view-button
              *ngIf="somenteLeitura"
              [somenteLeitura]="somenteLeitura"
              (viewEmitter)="novoEditar($event)"
              complemento="Transação"
              [objeto]="transacao"
            >
            </app-view-button>

            <app-delete-button
              *ngIf="!somenteLeitura"
              (deleteEmitter)="apagar($event)"
              complemento="Transação"
              [id]="transacao.id"
            >
            </app-delete-button>
          </ng-template>
        </vmf-data-column>
      </vmf-data-table>
  </mat-card>
</mat-card>
