<mat-card>
  <mat-card-title
    >{{
      contagem.id && somenteLeitura && contagem.compararVersao
        ? "Comparar com outra versão de "
        : contagem.id && somenteLeitura
        ? "Visualizar"
        : contagem.id
        ? "Editar"
        : "Nova"
    }}
    Contagem
  </mat-card-title>

  <mat-card-content fxLayout="column" fxLayoutGap="20px">
    <form
      exeFormValidationFocusInvalidInput
      id="ngForm"
      (ngSubmit)="salvar()"
      #f="ngForm"
      [vmf-read-only]="somenteLeitura"
      [vmf-read-only-ignores]="['criarEsboco', 'versoesAnteriores', 'sistema', 'escopo', 'projeto', 'sprint']"
    >
      <div fxLayout="row" fxLayoutGap="20px">
        <mat-form-field class="example-full-width">
          <mat-label>Escopo</mat-label>
          <mat-select
          [disabled]="contagem.id"
            required
            name="escopo"
            #escopo="ngModel"
            [(ngModel)]="contagem.escopo"
            (selectionChange)="escopoChange()"
          >
            <mat-option *ngFor="let escopo of escopos" [value]="escopo">{{
              escopoDesc[escopo]
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="escopo.errors?.required"
            >O escopo é obrigatório.</mat-error
          >
        </mat-form-field>

        <mat-form-field
          *ngIf="['PROJETO', 'SPRINT'].includes(contagem.escopo)"
          class="example-full-width"
        >
          <mat-label>Projeto</mat-label>
          <mat-select
            required
            [disabled]="contagem.id"
            name="projeto"
            #projeto="ngModel"
            [(ngModel)]="contagem.projeto.id"
            (selectionChange)="projetoChange($event.value)"
          >
            <mat-option *ngFor="let projeto of projetos" [value]="projeto.id">{{
              projeto.identificador
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="projeto.errors?.required"
            >O escopo é obrigatório.</mat-error
          >
        </mat-form-field>

        <mat-form-field
          *ngIf="contagem && contagem.sprint && contagem.escopo == 'SPRINT'"
          class="example-full-width"
        >
          <mat-label>Sprint</mat-label>
          <mat-select
            required
            [disabled]="contagem.id"
            #sprint="ngModel"
            name="sprint"
            [(ngModel)]="contagem.sprint.id"
          >
            <mat-option *ngFor="let sprint of sprints" [value]="sprint.id">{{
              sprint.numero
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="sprint.errors?.required"
            >O sprint é obrigatório.</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="fill" style="width: 120px;">
          <mat-label>Total Pontos Função</mat-label>
          <input align="end" style="text-align: right"
            [ngClass]="{'mat-alterado': contagem.alteradoTotalPontosFuncao }"
            matInput disabled
            placeholder="totalPontosFuncao"
            name="totalPontosFuncao"
            [(ngModel)]="contagem.totalPontosFuncao"
          />
          <mat-hint align="end" *ngIf="contagem.alteradoTotalPontosFuncao">
            {{ contagem.alteradoTotalPontosFuncao }}
          </mat-hint>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
        <mat-form-field
          *ngIf="contagem && contagem.sistema"
          class="example-full-width"
        >
          <mat-label>Sistema</mat-label>
          <mat-select
            required
            [disabled]="contagem.id"
            #sistema="ngModel"
            name="sistema"
            [(ngModel)]="contagem.sistema.id"
          >
            <mat-option *ngFor="let sistema of sistemas" [value]="sistema.id">{{
              sistema.nome
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="sistema.errors?.required"
            >O sistema é obrigatório.</mat-error
          >
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Contador</mat-label>
          <input
            required
            [ngClass]="{'mat-alterado': contagem.alteradoContador}"
            matInput
            #contador="ngModel"
            placeholder="Contador"
            name="contador"
            [(ngModel)]="contagem.contador"
          />
          <mat-error *ngIf="contador.errors?.required"
            >O contador é obrigatório.</mat-error
          >
          <mat-hint *ngIf="contagem.alteradoContador">
            {{ contagem.alteradoContador }}
          </mat-hint>
        </mat-form-field>

        <mat-form-field style="width: 120px;"
        appearance="fill">
        <mat-label>Data contagem</mat-label>
        <input
        [ngClass]="{'mat-alterado': contagem.alteradoDataContagem }"
        required
            matInput
            #dataContagem="ngModel"
            [matDatepicker]="picker"
            name="dataContagem"
            [(ngModel)]="contagem.dataContagem"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          >
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="dataContagem.errors?.required"
            >A data da contagem é obrigatória.</mat-error
          >
          <mat-hint *ngIf="contagem.alteradoDataContagem">
            {{ contagem.alteradoDataContagem | date:'dd/MM/yyyy' }}
          </mat-hint>
        </mat-form-field>
      </div>
      <mat-card-actions align="center" fxLayoutGap="20px">
        <button mat-button mat-flat-button color="primary">Salvar</button>

        <button
          mat-button type="button"
          *ngIf="contagem.id"
          mat-flat-button
          color="primary"
          (click)="versionarEmitter.next()"
        >
          Versionar
        </button>

        <button
          mat-button type="button"
          name="criarEsboco"
          *ngIf="contagem.id && contagem.estado == 'V' && contagem.ultimaVersao"
          mat-flat-button
          color="primary"
          (click)="criarEsbocoEmitter.next()"
        >
          Criar esboço
        </button>

        <mat-form-field class="example-full-width" *ngIf="versoes[0]">
          <mat-label>Versões anteriores</mat-label>
          <mat-select
            required
            name="versoesAnteriores"
            (selectionChange)="compararVersao($event)"
          >
            <mat-option *ngFor="let versao of versoes" [value]="versao.id">{{
              versao.versao
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="escopo.errors?.required"
            >O escopo é obrigatório.</mat-error
          >
        </mat-form-field>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
