<mat-card>
  <mat-card-title
    >{{
      contagem.id && somenteLeitura
        ? "Visualizar"
        : contagem.id
        ? "Editar"
        : "Nova"
    }}
    Contagem
    <span
      style="
        padding: 2px;
        border-radius: 10px;
        float: right;
        background-color: #ffee96;
      "
      >Total: {{ contagem.totalPontosFuncao }} PF</span
    >
  </mat-card-title>

  <mat-card-content fxLayout="column" fxLayoutGap="20px">
      <div fxLayout="row" fxLayoutGap="20px">
        <mat-form-field class="example-full-width">
          <mat-label>Escopo</mat-label>
          <mat-select
            [disabled]="somenteLeitura"
            name="escopo"
            #escopo="ngModel"
            [(ngModel)]="contagem.escopo"
            (selectionChange)="escopoChange()"
          >
            <mat-option *ngFor="let escopo of escopos" [value]="escopo">{{
              escopoDesc[escopo]
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="escopo.invalid">O escopo é obrigatório.</mat-error>
        </mat-form-field>

        <mat-form-field
          *ngIf="['PROJETO', 'SPRINT'].includes(contagem.escopo)"
          class="example-full-width"
        >
          <mat-label>Projeto</mat-label>
          <mat-select
            [disabled]="somenteLeitura"
            name="projeto"
            #projeto="ngModel"
            [(ngModel)]="contagem.projeto.id"
            (selectionChange)="projetoChange($event.value)"
          >
            <mat-option *ngFor="let projeto of projetos" [value]="projeto.id">{{
              projeto.identificador
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field
          *ngIf="contagem && contagem.sprint && contagem.escopo == 'SPRINT'"
          class="example-full-width"
        >
          <mat-label>Sprint</mat-label>
          <mat-select
            #sprint="ngModel"
            [disabled]="somenteLeitura"
            name="sprint"
            [(ngModel)]="contagem.sprint.id"
          >
            <mat-option *ngFor="let sprint of sprints" [value]="sprint.id">{{
              sprint.numero
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
        <!-- <mat-form-field fxFlex="100">
        <input matInput #script placeholder="Valor" required maxlength="200" formControlName="valor"
          [(ngModel)]="parametroGeralDto.valor">
        <mat-error *ngIf="parametroGeralFrm.get('valor').errors?.required">Campo obrigatório.</mat-error>
      </mat-form-field> -->

        <mat-form-field
          *ngIf="contagem && contagem.sistema"
          class="example-full-width"
        >
          <mat-label>Sistema</mat-label>
          <mat-select
            #sistema="ngModel"
            [disabled]="somenteLeitura"
            name="sistema"
            [(ngModel)]="contagem.sistema.id"
          >
            <mat-option *ngFor="let sistema of sistemas" [value]="sistema.id">{{
              sistema.nome
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Contador</mat-label>
          <input
            [disabled]="somenteLeitura"
            matInput
            #contador="ngModel"
            placeholder="Contador"
            name="contador"
            [(ngModel)]="contagem.contador"
          />
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Data contagem</mat-label>
          <input
            [disabled]="somenteLeitura"
            matInput
            #dataContagem="ngModel"
            [matDatepicker]="picker"
            name="dataContagem"
            [(ngModel)]="contagem.dataContagem"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
            *ngIf="!somenteLeitura"
          >
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <mat-card-actions *ngIf="!somenteLeitura">
        <button mat-button mat-flat-button color="primary">Salvar</button>

        <button
          mat-button
          mat-flat-button
          color="primary"
          (click)="versionar()"
        >
          Versionar
        </button>
      </mat-card-actions>
  </mat-card-content>
</mat-card>
