<!-- ------------------------ TABELA ------------------------------>
<mat-card style="min-width: 800px">
  <mat-card-title fxLayoutAlign="space-between center"
    >Gerenciamento de Sistemas

    <app-new-button (newEmitter)="novoEditar($event)" complemento="Sistema">
    </app-new-button>

  </mat-card-title>
  <mat-card class="card-tabela">
    <mat-card-content>
      <pje-data-table
        [totalRegistros]="1"
        [value]="sistemas"
        [tamanhos]="[10, 20, 50, 75, 100]"
        listrado="true"
        linhaDivisoraPaginador="true"
        tamanhoPadrao="10"
        mensagemVazio="Nenhum registro encontrado"
        nameTabela="Sistemas"
        [exibePaginador]="true"
      >
        <pje-data-column header="Nome" value="nome" [ordenar]="false">
          <ng-template let-sistema="rowData" #body>
            {{ sistema.nome }}
          </ng-template>
        </pje-data-column>

        <pje-data-column header="Versão" value="versao" [ordenar]="false">
          <ng-template let-sistema="rowData" #body>
            {{ sistema.versao }}
          </ng-template>
        </pje-data-column>

        <pje-data-column header="" [ordenar]="false">
          <ng-template let-sistema="rowData" #body>

            <app-edit-button (editEmitter)="novoEditar($event)" complemento="Sistema" [objeto]="sistema">
            </app-edit-button>

            <app-delete-button (deleteEmitter)="apagar($event)" complemento="Sistema" [id]="sistema.id">
            </app-delete-button>

          </ng-template>
        </pje-data-column>
      </pje-data-table>
    </mat-card-content>
  </mat-card>
</mat-card>
