<h2>Tabelas</h2>
<button (click)="novoEditar({})">
  <span class="material-icons md-24" matTooltip="Nova tabela"
    >create_new_folder</span
  >
</button>
<mat-selection-list
  [(ngModel)]="selectedTabela"
  (ngModelChange)="showColunas()"
  role="list"
  [multiple]="false"
>
  <mat-list-option *ngFor="let tabela of tabelas">
    {{ tabela.nome }}
  </mat-list-option>
</mat-selection-list>

<div *ngIf="selectedTabela">
  <h2>Colunas</h2>
  <button (click)="novoEditarColuna({})">
    <span class="material-icons md-24" matTooltip="Nova coluna"
      >create_new_folder</span
    >
  </button>
  <mat-list role="list">
    <mat-list-item *ngFor="let coluna of colunas">
      {{ coluna.nome }}
    </mat-list-item>
  </mat-list>
</div>
