<!-- ------------------------ TABELA ------------------------------>
<mat-card  style="min-width: 800px">
  <mat-card-title fxLayoutAlign="space-between center">Gerenciamento de DEDs

    <app-new-button (newEmitter)="novoEditar($event)" complemento="Ded">
    </app-new-button>

  </mat-card-title>

  <mat-card class="card-tabela">
  <mat-card-content>
    <pje-data-table
      [totalRegistros]="1"
      [value]="deds"
      [tamanhos]="[10, 20, 50, 75, 100]"
      listrado="true"
      linhaDivisoraPaginador="true"
      tamanhoPadrao="10"
      mensagemVazio="Nenhum registro encontrado"
      nameTabela="Parâmetros Gerais"
      [exibePaginador]="true"
    >
      <pje-data-column header="Nº DED" value="numero" [ordenar]="false">
        <ng-template let-ded="rowData" #body>
          {{ ded.numero }}
        </ng-template>
      </pje-data-column>

      <pje-data-column header="Descrição" value="descricao" [ordenar]="false">
        <ng-template let-ded="rowData" #body>
          {{ ded.descricao }}
        </ng-template>
      </pje-data-column>

      <pje-data-column header="" [ordenar]="false">
        <ng-template let-ded="rowData" #body>

          <app-edit-button (editEmitter)="novoEditar($event)" complemento="Ded" [objeto]="ded">
          </app-edit-button>

          <app-delete-button (deleteEmitter)="apagar($event)" complemento="Ded" [id]="ded.id">
          </app-delete-button>

        </ng-template>
      </pje-data-column>
    </pje-data-table>
  </mat-card-content>
  </mat-card>
</mat-card>
