<app-contagem-cadastro-basico
  *ngIf="contagem"
  #f2
  [contagem]="contagem"
  (versionarEmitter)="versionar()"
  (criarEsbocoEmitter)="criarEsboco()"
  (compararVersaoEmitter)="compararVersao($event)"
  [somenteLeitura]="somenteLeitura"
>
</app-contagem-cadastro-basico>

<app-contagem-cadastro-arquivo-referenciado
  [(somenteLeitura)]="somenteLeitura"
  *ngIf="contagem?.id"
  (salvarContagem)="salvarContagem($event)"
  [contagem]="contagem"
  [transacoesComparar]="contagem.transacoes"
>
</app-contagem-cadastro-arquivo-referenciado>

<app-contagem-cadastro-transacao
  [(somenteLeitura)]="somenteLeitura"
  *ngIf="contagem?.id"
  (salvarContagem)="salvarContagem($event)"
  [contagem]="contagem"
>
</app-contagem-cadastro-transacao>
