<form
  exeFormValidationFocusInvalidInput
  id="ngForm"
  (ngSubmit)="salvarContagem($event)"
  #f="ngForm"
>
  <app-contagem-cadastro-basico
    *ngIf="contagem"
    [contagem]="contagem"
    [somenteLeitura]="contagem.estado == 'V'"
  >
  </app-contagem-cadastro-basico>

  <app-contagem-cadastro-arquivo-referenciado
    [somenteLeitura]="contagem.estado == 'V'"
    *ngIf="contagem?.id"
    (salvarContagem)="f.ngSubmit.next($event)"
    [contagem]="contagem"
  >
  </app-contagem-cadastro-arquivo-referenciado>

  <app-contagem-cadastro-transacao
    [somenteLeitura]="contagem.estado == 'V'"
    *ngIf="contagem?.id"
    (salvarContagem)="f.ngSubmit.next($event)"
    [contagem]="contagem"
  >
  </app-contagem-cadastro-transacao>
</form>
