
//palheta de cores padrão


body {
    margin: 0px;
}

//aplicando o tema

snack-bar-container.success {
    background-color: #71b270;
}

snack-bar-container.error {
    background-color: #c75b55;
}

snack-bar-container.warning {
    background-color: #f6a634;
}

snack-bar-container.info {
    background-color: #497683;
}


// Esta definição força o menu de seleção do OJ a não cortar o texto apresentado.
.mat-menu-panel.menu-selecao-perfil-usuario {
    max-width: 100vw;
}

.icone-tamanho-18 {
    font-size: 18px;
}

.icone-tamanho-22 {
    font-size: 22px;
}

.atualizar-simples {
    color: #3f48cc;
    font-size: 18px;
}

// Estas definições de classes devem ser utilizadas em todos os filtros de tabelas, como nos painéis e no escaninho
.itens-filtros {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-basis: auto;
    width: 100%;

    .item-filtro {
        margin: 0px 5px;
        flex-grow: 1;
    }

    .item-filtro-pequeno {
        margin: 0px 5px;
        flex-grow: 0;
        width: 120px;
    }

    .item-filtro-medio {
        margin: 0px 5px;
        flex-grow: 0.5;
        width: 140px;
    }

    .item-filtro-grande {
        margin: 0px 5px;
        flex-grow: 0.5;
        width: 160px;
    }
}

// Estas de classes devem ser utilizadas no chips do filtros de tabelas

.chips-icone-fechar:hover {
    background-color: rgb(1, 62, 87);
}

.mat-dialog-container {
    max-width: 100vw !important;
}

.cor-fundo-principal {
    background-color: #fafafa;
}

.mensagem-vazio.ng-star-inserted {
    background-color: #f0f0f0;
    height: 50px;
}

.btn-salvar {
    margin: 0px 40px 40px 40px;
}

.form-erro {
    color: red;
    font-size: 18px;
    padding-top: 15px;
    font-style: italic;
}

.botao-novo {
    color: green;
}

.final-salvar {
    margin-right: 16px !important;
}

mat-radio-group.ng-pristine.ng-invalid.ng-touched {
    color: red;
}

mat-radio-group.ng-pristine.ng-invalid.ng-touched div .mat-radio-outer-circle {
    border-color: red !important;
}

div.t-container-class {
    overflow-x: inherit !important;
}
