<exe-app-loader-spinner></exe-app-loader-spinner>
<mat-card-title
  >{{ arquivoReferenciado.id ? "Editar" : "Novo" }} Arquivo
  Referenciado</mat-card-title
>

<mat-card-content fxLayoutGap="20px">
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input
      matInput
      placeholder="Nome"
      name="nome"
      [(ngModel)]="arquivoReferenciado.nome"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Tipo</mat-label>
    <mat-select name="subtipo" [(ngModel)]="arquivoReferenciado.funcao">
      <mat-option *ngFor="let funcao of funcoes" [value]="funcao">{{
        funcao
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-card-content>

<mat-card-content>
  <mat-card-title fxLayoutGap="20px" fxLayout="row" fxLayoutAlign="start center"
    ><span>Tabelas</span>

    <mat-form-field appearance="legacy" style="font-size: 14px !important">
      <mat-label>Incluir tabela</mat-label>
      <input
        matInput
        [(ngModel)]="novaTabela.nome"
        (keyup.enter)="incluirTabela()"
        name="novotrnome"
        placeholder="Ex. Tabela Projetos"
      />
      <mat-icon
        style="cursor: pointer"
        matTooltip="clique aqui para adicionar"
        matSuffix
        (click)="incluirTabela()"
        >download</mat-icon
      >
    </mat-form-field>
  </mat-card-title>

  <mat-tab-group [(selectedIndex)]="selectedTabelaIndex">
    <mat-tab *ngFor="let t of arquivoReferenciado.tabelas; let index = index">
      <ng-template mat-tab-label>
        {{ t.nome }}
        <app-delete-button
          *ngIf="index === selectedTabelaIndex"
          (deleteEmitter)="apagarTabela($event)"
          complemento="Tabela"
          [id]="t"
        >
        </app-delete-button>
      </ng-template>
      <mat-card-title
        fxLayoutGap="20px"
        fxLayout="row"
        fxLayoutAlign="start center"
        ><span>Colunas</span>
        <mat-form-field style="font-size: 14px !important" appearance="legacy">
          <mat-label>Incluir coluna</mat-label>
          <input
            matInput
            [(ngModel)]="novaColuna.nome"
            (keyup.enter)="adicionarColuna()"
            placeholder="Ex. Coluna Nome"
          />
          <mat-icon
            style="cursor: pointer"
            (click)="adicionarColuna()"
            matTooltip="clique aqui para adicionar"
            matSuffix
            >download</mat-icon
          >
        </mat-form-field>
      </mat-card-title>

      <mat-list role="list" *ngIf="t && t.colunas">
        <mat-list-item
          *ngFor="let c of t.colunas"
          fxLayoutAlign="space-between center"
        >
          <span style="width: 200px;">{{ c.nome }}</span>
          <app-delete-button
            (deleteEmitter)="apagarColuna($event)"
            complemento="Coluna"
            [id]="c"
          >
          </app-delete-button>
        </mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</mat-card-content>
<mat-card-actions mat-dialog-actions align="center">
  <button
    mat-button
    mat-flat-button
    color="primary"
    (click)="salvar()"
    mat-dialog-close
  >
    Salvar
  </button>
  <button mat-button mat-dialog-close>Cancelar</button>
</mat-card-actions>
