<exe-app-loader-spinner></exe-app-loader-spinner>
<mat-card-title
  >{{
    arquivoReferenciado.id && somenteLeitura
      ? "Visualizar"
      : arquivoReferenciado.id
      ? "Editar"
      : "Novo"
  }}
  Arquivo Referenciado</mat-card-title
>
<form
validateFocusInvalidInput
      id="ngForm"
      #f="ngForm"
      (ngSubmit)="salvar()"
      [vmf-read-only]="somenteLeitura"
      [vmf-read-only-hide]="['incluirTabela', 'deleteTabela', 'incluirColuna', 'deleteColuna']"
      (keydown.enter)="$event.preventDefault()"
>
  <mat-card-content fxLayoutGap="20px">
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input
        matInput
        required
        placeholder="Nome"
        name="nome"
        #nome="ngModel"
        [(ngModel)]="arquivoReferenciado.nome"
      />
      <mat-error *ngIf="nome.invalid">O nome é obrigatório.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Função</mat-label>
      <mat-select
        required
        name="funcao"
        #funcao="ngModel"
        [(ngModel)]="arquivoReferenciado.funcao"
      >
        <mat-option *ngFor="let funcao of funcoes" [value]="funcao">{{
          funcao
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="funcao.invalid">A função é obrigatória.</mat-error>
    </mat-form-field>
  </mat-card-content>

  <mat-card-content>
    <mat-card-title
      fxLayoutGap="20px"
      fxLayout="row"
      fxLayoutAlign="start center"
      ><span *ngIf="arquivoReferenciado.tabelas[0]">Tabelas</span>

      <mat-form-field
        appearance="legacy"
        style="font-size: 14px !important"
        name="incluirTabela"
        fxLayout="row"
      >
        <mat-label>Incluir tabela</mat-label>
        <input
          matInput
          [(ngModel)]="novaTabela.nome"
          (keyup.enter)="incluirTabela()"
          name="novotrnome"
          placeholder="Ex. Tabela Projetos"
        />
        <mat-icon (click)="incluirTabela()"
          style="cursor: pointer"
          matTooltip="clique aqui para adicionar"
          matSuffix
          >download</mat-icon
        >
      </mat-form-field>
    </mat-card-title>

    <mat-tab-group [(selectedIndex)]="selectedTabelaIndex">
      <mat-tab *ngFor="let t of arquivoReferenciado.tabelas; let index = index">
        <ng-template mat-tab-label>
          {{ t.nome }}
          <app-delete-button
            name="deleteTabela"
            *ngIf="index === selectedTabelaIndex"
            (deleteEmitter)="apagarTabela(t)"
            complemento="Tabela"
            [id]="t"
          >
          </app-delete-button>
        </ng-template>
        <mat-card-title
          fxLayoutGap="20px"
          fxLayout="row"
          fxLayoutAlign="start center"
          ><span *ngIf="t.colunas[0]">Colunas</span>
          <mat-form-field
            style="font-size: 14px !important"
            appearance="legacy"
            name="incluirColuna"
          >
            <mat-label>Incluir coluna</mat-label>
            <input
              matInput
              name="novaColuna"
              [(ngModel)]="novaColuna.nome"
              (keyup.enter)="adicionarColuna()"
              placeholder="Ex. Coluna Nome"
            />
            <mat-icon
              style="cursor: pointer"
              (click)="adicionarColuna()"
              matTooltip="clique aqui para adicionar"
              matSuffix
              >download</mat-icon
            >
          </mat-form-field>
        </mat-card-title>

        <mat-list role="list" *ngIf="t && t.colunas">
          <mat-list-item
            *ngFor="let c of t.colunas"
            fxLayoutAlign="space-between center"
          >
            <span style="width: 200px">{{ c.nome }}</span>
            <app-delete-button
              name="deleteColuna"
              (deleteEmitter)="apagarColuna({tabela: t, coluna: c})"
              complemento="Coluna"
              [id]="c"
            >
            </app-delete-button>
          </mat-list-item>
        </mat-list>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <mat-card-actions mat-dialog-actions align="center" fxLayoutGap="20px">
    <button
      mat-button
      mat-flat-button
      color="primary"
      type="submit"
    >
      Salvar
    </button>
    <app-close-cancel-button
      [somenteLeitura]="somenteLeitura"
    ></app-close-cancel-button>
  </mat-card-actions>
</form>
