<div mat-dialog-content>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nome</mat-label>
      <input
        matInput
        placeholder="Nome"
        name="nome"
        [(ngModel)]="funcaoDados.nome"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Tipo</mat-label>
      <mat-select name="subtipo" [(ngModel)]="funcaoDados.subtipo">
        <mat-option *ngFor="let subtipo of subtipos" [value]="subtipo">{{
          subtipo
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
    <h2>
      TRs - [{{ funcaoDados.tr }}]
      <mat-form-field style="margin-left: 50px;" appearance="legacy" >
        <mat-label>Incluir tabela</mat-label>
          <input  matInput [(ngModel)]="novaTabela.nome"  (keyup.enter)="adicionarTabela()" name="novotrnome" placeholder="Ex. Tabela Projetos" />
        <mat-icon
          style="cursor: pointer;"
          matTooltip="clique aqui para adicionar"
          matSuffix
          (click)="adicionarTabela()"
          >download</mat-icon
        >
      </mat-form-field>
    </h2>
    <h2>
      TDs - [{{ funcaoDados.td }}]</h2>
    <mat-tab-group [(selectedIndex)]="selectedTabelaIndex">
      <mat-tab *ngFor="let t of funcaoDados.tabelas">
        <ng-template mat-tab-label>
          {{t.nome}}
          <mat-icon matTooltip="Apagar?" style="cursor: pointer;" (click)="apagarTabela(t)" >
            delete
          </mat-icon>
        </ng-template>
        <h2>
          <mat-form-field style="margin-left: 50px;" appearance="legacy" >
            <mat-label>Incluir coluna</mat-label>
            <input  matInput [(ngModel)]="novaColuna.nome" (keyup.enter)="adicionarColuna()" placeholder="Ex. Coluna Nome" />
            <mat-icon
              style="cursor: pointer;"
              (click)="adicionarColuna()"
              matTooltip="clique aqui para adicionar"
              matSuffix
              >download</mat-icon
            >
          </mat-form-field>
        </h2>
          <mat-list role="list" *ngIf="t && t.colunas">
            <mat-list-item *ngFor="let c of t.colunas">{{ c.nome }} <mat-icon matTooltip="Apagar?" style="cursor: pointer;" (click)="apagarColuna(c)" >
              delete
            </mat-icon> </mat-list-item>
          </mat-list>
      </mat-tab>
    </mat-tab-group>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="onOkClick()" [mat-dialog-close]="funcaoDados" cdkFocusInitial>
    Ok
  </button>
</div>
