<mat-card>
  <mat-card-title>Gerenciamento de Contagens </mat-card-title>
  <mat-icon
    style="cursor: pointer; color: mediumaquamarine"
    routerLink='editar'
    matTooltip="Novo"
    matSuffix
    class="material-icons md-24"
    >create_new_folder</mat-icon
  >
</mat-card>

<div class="conteudo">
  <!-- ------------------------ TABELA ------------------------------>
  <mat-card class="card-tabela" style="min-width: 800px">
    <mat-card-content>
      <pje-data-table [totalRegistros]="1" [value]="contagens"
        [tamanhos]="[10, 20, 50, 75, 100]" listrado="true" linhaDivisoraPaginador="true"
        tamanhoPadrao="10" mensagemVazio="Nenhum registro encontrado" nameTabela="Contagens"
        [exibePaginador]="true">

        <pje-data-column header="DED" value="ded" [ordenar]="false">
          <ng-template let-contagem="rowData" #body>
            {{ contagem.sprint.ded.numero }} - {{ contagem.sprint.ded.descricao }}
          </ng-template>
        </pje-data-column>

        <pje-data-column header="Nº Sprint" value="numero" [ordenar]="false">
          <ng-template let-contagem="rowData" #body>
            {{ contagem.sprint.numero }}
          </ng-template>
        </pje-data-column>

        <pje-data-column header="Sistema" value="sistema" [ordenar]="false">
          <ng-template let-contagem="rowData" #body>
            {{ contagem.sistema.nome }}
          </ng-template>
        </pje-data-column>

        <pje-data-column header="Contador" value="contador" [ordenar]="false">
          <ng-template let-contagem="rowData" #body>
            {{ contagem.contador }}
          </ng-template>
        </pje-data-column>

        <pje-data-column header="Data contagem" value="dataContagem" [ordenar]="false">
          <ng-template let-contagem="rowData" #body>
            {{ contagem.dataContagem | date:'dd/MM/yyyy' }}
          </ng-template>
        </pje-data-column>

        <pje-data-column header="Total PF" value="totalPf" [ordenar]="false">
          <ng-template let-contagem="rowData" #body>
            {{ contagem.totalPf }}
          </ng-template>
        </pje-data-column>

        <pje-data-column header="" [ordenar]="false">
          <ng-template let-contagem="rowData" #body>
            <mat-icon
              style="cursor: pointer; color: saddlebrown"
              routerLink="editar/{{contagem.id}}"
              matTooltip="Editar"
              matSuffix
              class="material-icons md-24"
              >folder_open</mat-icon
            >
            <mat-icon
              style="cursor: pointer; color: red"
              (click)="apagar(contagem.id)"
              matTooltip="Apagar"
              matSuffix
              class="material-icons md-24"
              >delete</mat-icon
            >
          </ng-template>
        </pje-data-column>

      </pje-data-table>

    </mat-card-content>
  </mat-card>
</div>

