<h2 style="margin-top: 20px;">
  Sprints
  <mat-icon style="cursor: pointer;" (click)="novoEditar({ })"  matTooltip="Novo"
    matSuffix class="material-icons md-24">create_new_folder</mat-icon>
</h2>

<table mat-table [dataSource]="ded.sprints" class="mat-elevation-z8">
<!-- Número Column -->
<ng-container matColumnDef="numero">
  <th mat-header-cell *matHeaderCellDef> Nº </th>
  <td mat-cell *matCellDef="let sprint"> {{sprint.numero}} </td>
</ng-container>

<!-- Data Início Column -->
<ng-container matColumnDef="dataInicio">
  <th mat-header-cell *matHeaderCellDef> Início </th>
  <td mat-cell *matCellDef="let sprint"> {{sprint.dataInicio | date:'dd/MM/yyyy'}} </td>
</ng-container>

<!-- Data Fim Column -->
<ng-container matColumnDef="dataFim">
  <th mat-header-cell *matHeaderCellDef> Fim </th>
  <td mat-cell *matCellDef="let sprint"> {{sprint.dataFim | date:'dd/MM/yyyy'}} </td>
</ng-container>

<!-- DiasUteis Column -->
<ng-container matColumnDef="diasUteis">
  <th mat-header-cell *matHeaderCellDef> Dias </th>
  <td mat-cell *matCellDef="let sprint"> {{sprint.diasUteis}} </td>
</ng-container>

<!-- Act Column -->
<ng-container matColumnDef="acao">
  <th mat-header-cell *matHeaderCellDef> Ação </th>
  <td mat-cell *matCellDef="let sprint">
    <mat-icon style="cursor: pointer;" (click)="novoEditar(sprint)"  matTooltip="Abrir"
    matSuffix class="material-icons md-24">folder_open</mat-icon>
    <mat-icon style="cursor: pointer;" (click)="apagar(sprint.id)"  matTooltip="Apagar"
    matSuffix class="material-icons md-24">delete</mat-icon>
    <mat-icon style="cursor: pointer;" (click)="ver(sprint)"  matTooltip="Contagens"
    matSuffix class="material-icons md-24">list</mat-icon>
  </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


