

<table mat-table [dataSource]="ded.sprints" class="mat-elevation-z8">
<!-- Número Column -->
<ng-container matColumnDef="numero">
  <th mat-header-cell *matHeaderCellDef> Número </th>
  <td mat-cell *matCellDef="let sprint"> {{sprint.numero}} </td>
</ng-container>

<!-- Data Início Column -->
<ng-container matColumnDef="dataInicio">
  <th mat-header-cell *matHeaderCellDef> Data do Início </th>
  <td mat-cell *matCellDef="let sprint"> {{sprint.dataInicio | date:'dd/MM/yyyy'}} </td>
</ng-container>

<!-- Data Fim Column -->
<ng-container matColumnDef="dataFim">
  <th mat-header-cell *matHeaderCellDef> Data do Fim </th>
  <td mat-cell *matCellDef="let sprint"> {{sprint.dataFim | date:'dd/MM/yyyy'}} </td>
</ng-container>

<!-- DiasUteis Column -->
<ng-container matColumnDef="diasUteis">
  <th mat-header-cell *matHeaderCellDef> Dias úteis </th>
  <td mat-cell *matCellDef="let sprint"> {{sprint.diasUteis}} </td>
</ng-container>

<!-- Act Column -->
<ng-container matColumnDef="acao">
  <th mat-header-cell *matHeaderCellDef> Ação </th>
  <td mat-cell *matCellDef="let sprint">
    <button (click)="novoEditar(sprint)" >
      <span class="material-icons md-24" matTooltip="Ver">folder_open</span>
    </button>
    <button (click)="apagar(sprint.id)" routerLink="." >
      <span class="material-icons md-24" matTooltip="Apagar">delete</span>
    </button>
    <button (click)="ver(sprint)" >
      <span class="material-icons md-24" matTooltip="Contagens">alarm</span>
    </button>
  </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button (click)="novoEditar({ })" >
  <span class="material-icons md-24" matTooltip="Novo">create_new_folder</span>
</button>
